body {
    margin: 0%;
    overflow: hidden;
    background-color: #864AF9;
}

main {
    padding: 50px;
    display: grid;
    width: 40%;
    min-width: max-content;
    margin: 5% auto 0px auto;
    justify-items: start;
    align-content: center;
    gap: 50px;
    background-color: #332941;
    border: 1px solid #864AF9;
    font-family: "Poppins";
    box-shadow: 3px 3px 10px black;
}

h1 {
    color: white;
    box-shadow: 0px 4px #864AF9;
    margin: 0%;
}

.input-field label {
    color: #864AF9;
    font-size: x-large;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    flex-flow: column;
}

.input-field input {
    border-radius: 5px;
    border: 1px solid #864AF9;
    background-color: #332941;
    height: 40px;
    width: 75%;
    min-width: 275px;
    outline: none;
    text-indent: 5px;
    color: #F8E559;
    font-size: large;
    transition: all .1s;
}

.input-field input::placeholder {
    color: white;
    text-indent: 5px;
    opacity: .6;
}

.input-field input:focus {
    box-shadow: 3px 3px #332941;
}

a {
    width: 190px;
    height: fit-content;
    padding: 10px 20px;
    background-color: #864AF9;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #F8E559;
    border: 2px solid #332941;
    color: #F8E559;
    text-decoration: none;
    text-align: center;
    font-size: larger;
}

.decoration {
    position: absolute;
    width: 300px;
    filter: drop-shadow(5px 5px 5px black);
    user-select: none;
    z-index: -1;
}

.leaf1 {
    width: 500px;
    transform: translateX(500px) translateY(-10px) rotate(100deg);
}

.leaf2 {
    transform: translateX(-10px) translateY(-20px) rotate(100deg);
}


.leaf3 {
    transform: translateX(900px) translateY(150px) rotate(100deg);
}
.leaf4 {
    transform: translateX(500px) translateY(400px) rotate(100deg);
}

.leaf5 {
    transform: translateX(-40px) translateY(520px) rotate(200deg);
}